/* _content/examenC#/Views/Shared/_Layout.cshtml.rz.scp.css */
.bd-placeholder-img[b-wybeov71ss] {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg[b-wybeov71ss] {
        font-size: 3.5rem;
    }
}

.b-example-divider[b-wybeov71ss] {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr[b-wybeov71ss] {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi[b-wybeov71ss] {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller[b-wybeov71ss] {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

    .nav-scroller .nav[b-wybeov71ss] {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }

.btn-bd-primary[b-wybeov71ss] {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle[b-wybeov71ss] {
    z-index: 1500;
}

.bi[b-wybeov71ss] {
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

/*
 * Sidebar
 */

@media (min-width: 768px) {
    .sidebar .offcanvas-lg[b-wybeov71ss] {
        position: -webkit-sticky;
        position: sticky;
        top: 48px;
    }

    .navbar-search[b-wybeov71ss] {
        display: block;
    }
}

.sidebar .nav-link[b-wybeov71ss] {
    font-size: .875rem;
    font-weight: 500;
}

    .sidebar .nav-link.active[b-wybeov71ss] {
        color: #2470dc;
    }

.sidebar-heading[b-wybeov71ss] {
    font-size: .75rem;
}

/*
 * Navbar
 */

.navbar-brand[b-wybeov71ss] {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control[b-wybeov71ss] {
    padding: .75rem 1rem;
}
.menuItem:hover[b-wybeov71ss] {
    border-bottom: 2px solid;
}

.menuActice[b-wybeov71ss] {
    border-bottom: 2px solid;
}
